.search-result{
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    min-height: 75px;
    background-color: white;
    border-radius: .5rem;
    color: black;
    padding: 2rem;
    box-shadow: var(--shadow-color);
    z-index: 99;
}
