.home{
    .home-header{
        padding: 3rem 0;
        .dino-info,.dino-card{
            width: 100%;
        }
        .dino-info{
            .dino-title{
                h1{
                    font-size: 3.5rem;
                    font-weight: bolder;
                }
            }
            .dino-content{
                margin-top: 1rem;
                font-size: 1.5rem;
                text-align: justify;
                line-height: 2.5rem;
            }
        }
        .dino-card{
            display: flex;
            justify-content: center;
            align-items: center;
            .circle{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 19rem;
                height: 19rem;
                background-color: var(--bg-color);
                border-radius: 50%;
                box-shadow: var(--shadow-color);
            }
        }

    }
    .home-concepts{
        margin: 2rem 0;
        .row-concepts{
            width: 100%;
        }
    }
}
@media (min-width: 1200px) {

    .dino-info, .dino-card{
            width: calc( 100% / 2);
    }
    .row-concepts{
        display: flex;
    }
}
@media (max-width: 1200px) {
    .dino-card{
        margin: 5rem 0;
    }
    .dino-info{
        .dino-title{
            h1{
                text-align: center;
            }
        }
    }
}