.header{
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 1rem 2rem; 
    .search-box{
        position: relative;
        display: flex;
        height: 50px;
        background-color: var(--bg-color);
        border-radius: .5rem;
        box-shadow: var(--shadow-color);
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            cursor: pointer;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
            svg{
                font-size: 1.3rem;
            }
        }
        .icon:hover{
            background-color: var(--hover-color);
        }
    }
}
.sidebar.close ~ .header{
    left: 88px;
    width: calc(100% - 88px);
}
