.header{
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    padding: 1rem 2rem; 
    .search-box{
        display: flex;
        height: 50px;
        background-color: rgb(37, 40, 48);
        border-radius: .5rem;
        input{
            height: 100%;
            width: 100%;
            background-color: rgb(37, 40, 48);
            padding: 1rem;
            border-radius: .5rem;
        }
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            cursor: pointer;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
        .icon:hover{
            background-color: rgb(68, 72, 87);
        }
    }
}
.sidebar.close ~ .header{
    left: 88px;
    width: calc(100% - 88px);
}