.app_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offScream{
    display: none;
}
.width-wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 3rem;
}
.open{
    background-color: var(--hover-color) !important;
}
@media (min-width: 1300px) {
    .width-wrapper{
        display: flex;
    }
}